* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common */
.container {
  width: 1170px;
  max-width: calc(100%-48px);
  margin: 0 auto;
}
.btn {
  display: inline-block;
  color: #ffffff;
  background-color: #2ac9bf;

  padding: 30px 60px;
  border-radius: 14px;
  min-width: 100px;
}
.btn:hover {
  opacity: 0.9;
}
a {
  text-decoration: none;
}
